<div class="bg-white">
  <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-balance text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Simple Markdown Editing, Instant Downloads</h2>
      <p class="mx-auto mt-6 max-w-xl text-pretty text-lg/8 text-gray-600">Easily create a standout CV using simple markdown editing, and enjoy instant downloads for your professional needs today.</p>
      <div class="mt-10 flex items-center justify-center gap-x-6" data-controller="login-dialog">
        <% if current_user %>
          <%= link_to "Create CV", new_cv_path, class: "rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
        <% else %>
          <button data-action="click->login-dialog#show" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Create CV
          </button>
          <div class="hidden" data-login-dialog-target="dialog">
            <%= render 'shared/partials/dialogs/login' %>
          </div>
      <% end %>
      </div>
    </div>
  </div>
</div>


<div class="px-6 py-12 sm:px-6 sm:py-16 lg:px-8">
  <div class="mx-auto max-w-6xl flex flex-col lg:flex-row items-center text-center lg:text-left">
    <div class="lg:w-1/2 lg:pr-8 flex flex-col justify-center">
      <h2 class="text-balance text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">About Our CV Generator</h2>
      <p class="mt-4 max-w-xl mx-auto text-lg text-gray-600">
        Our CV generator is designed to make the process of creating a professional CV as simple and efficient as possible. With our user-friendly interface, you can easily input your information using markdown syntax, allowing you to focus on what really matters—your skills and experiences.
      </p>
      <p class="mt-4 max-w-xl mx-auto text-lg text-gray-600">
        Instant downloads mean you can have your CV ready for any opportunity at a moment's notice. Whether you are a seasoned professional or just starting your career, our tool ensures you have the best representation of your qualifications at your fingertips.
      </p>
      <div class="mt-10 flex gap-x-6">
        <a href="#" class="text-sm/6 font-semibold text-gray-900">Create CV <span aria-hidden="true">→</span></a>
      </div>
    </div>
    <div class="lg:w-1/2 mt-8 lg:mt-0 flex justify-center">
      <img src="https://s3.resume.io/cdn-cgi/image/width=380,format=auto/uploads/local_template_image/image/289/persistent-resource/milan-cv-sablony.jpg" alt="Showcase of a CV" class="rounded-lg shadow-md max-w-full h-auto">
    </div>
  </div>
</div>



