<header class="bg-white">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="<%= root_path %>" class="-m-1.5 p-1.5">
        <span class="sr-only">CV.md</span>
        <h1 ># CV.md</h1>
      </a>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <%= link_to 'Home', root_path, class: "text-sm/6 font-semibold text-gray-900" %>
      <%= link_to 'Getting Started', docs_path, class: "text-sm/6 font-semibold text-gray-900" %>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <%= link_to "Edit Your CV <span aria-hidden='true'>&rarr;</span>".html_safe, edit_your_cv_cv_index_path, class: "text-sm/6 font-semibold text-gray-900" %>
    </div>
  </nav>
</header>
